header {
    background-color: #fcebbe;
}
footer {
    background-color: #754c00;
    color:white;
    text-align: center;
}
main {
    background-color: #cccfff;
}
h1 {
    background-color: rgb(255, 255, 255);
}
h2 {
    background-color: #666666;
}
div {
    background-color: #8cc63f;
}
section {
   
    display:flex;
}
p {
    background-color: #ffffff;
}
article {
   background-color:#f79300;
}